<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Dancing+Script:wght@700&family=Montserrat:ital,wght@0,400;0,500;1,400&display=swap"
      rel="stylesheet"
    />
    <title>Document</title>
    <style>
      @import
      url("https://fonts.googleapis.com/css2?family=Zen+Tokyo+Zoo&display=swap");
      body { padding: 0px; margin: 0px; overflow: hidden; } .card-wrapper {
      display: flex; justify-content: center; align-items: center;
      background-color: #eeeeee; height: 100vh; width: 100%; overflow: hidden; }
      .card { background: rgb(2, 0, 36); background: linear-gradient( 90deg,
      rgba(2, 0, 36, 1) 0%, rgba(0, 239, 255, 1) 0%, rgba(0, 136, 255, 1) 100%
      ); width: 80%; height: 80%; border-radius: 1rem; box-shadow: rgba(0, 0, 0,
      0.2) 5px 8px 10px; overflow: hidden; margin: auto auto; } .card-header {
      display: flex; flex-direction: column; justify-content: center;
      align-items: center; } .card-header .title { padding: 1rem; text-align:
      center; color: white; /* font-size: 3.5rem; */ font-size: 1.5rem; margin:
      auto auto; width: 80%; font-family: "Montserrat", sans-serif; }
      .card-header .sub-title { padding: 1rem; text-align: center; /* font-size:
      4.5rem; */ font-size: 2.5rem; margin: auto auto; width: 80%; font-family:
      "Dancing Script", cursive; font-weight: 700; } .card-content { padding:
      1rem; text-align: center; /* font-size: 1.2rem; */ font-size: 0.7rem;
      margin: auto auto; width: 80%; font-family: "Montserrat", sans-serif;
      color: whitesmoke; } .card-footer { background: rgb(2, 0, 36); background:
      rgb(2, 0, 36); background: linear-gradient( 90deg, rgba(2, 0, 36, 1) 0%,
      rgba(0, 255, 241, 1) 0%, rgba(247, 247, 251, 1) 59% ); padding: 0.5rem;
      text-align: center; /* font-size: 1.5rem; */ font-size: 1rem; margin: auto
      auto; width: 40%; color: white; } .card-footer span { text-align: center;
      font-weight: 500; font-size: 1rem; font-family: "Montserrat", sans-serif;
      color: black; border-radius: 0.5rem; } @media (min-width: 768px) {
      .card-header .title { /* font-size: 1.5rem; */ font-size: 2.3rem; }
      .card-header .sub-title { /* font-size: 2.5rem; */ font-size: 3rem; }
      .card-content { /* font-size: 0.7rem; */ font-size: 0.9rem; } .card-footer
      { /* font-size: 1rem; */ font-size: 1.2rem; } .card-footer span {
      font-size: 1.3rem; } } @media (min-width: 1024px) { .card-header .title {
      /* font-size: 1.5rem; */ font-size: 3.5rem; } .card-header .sub-title { /*
      font-size: 2.5rem; */ font-size: 4rem; } .card-content { /* font-size:
      0.7rem; */ font-size: 1.2rem; } .card-footer { /* font-size: 1rem; */
      font-size: 1.5rem; } .card-footer span { font-size: 2rem; } }
    </style>
  </head>
  <body>
    <div class="card-wrapper">
      <div class="card">
        <div class="card-header">
          <div class="title">Cinema21</div>
        </div>
        <div class="card-header">
          <div class="sub-title">OTP Request</div>
        </div>
        <div class="card-content">
          <span>Hi {{name}}, check your otp code below</span>
        </div>

        <div class="card-footer">
          <span>{{codeOtp}}</span>
        </div>

        <div class="card-content">
          <span>Thank you very much for visiting my portfolio, I really
            appreciate your presence here. Need help? contact&nbsp;{{email}}
          </span>
        </div>
      </div>
    </div>
  </body>
</html>